.healthcare {
  padding-bottom: 30px;
  padding-top: 80px;
}

.healthcare__block-text {
  padding-bottom: 46px;
}

.block-text_center {
  text-align: center;
}

.block-text__text {
  margin-bottom: 45px;
}

.block-text__text_mw {
  max-width: 620px;
  margin: 0 auto;
}

.healthcare__column {
  position: relative;
  padding: 0 36px;
  flex: 0 1 33.333%;
}
.healthcare__items {
  display: flex;
  /*   gap: 72px; */
}

.item-healthcare {
  height: 100%;
  position: relative;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0px 4px 18px 0px #587eec2e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 35px 17px;
}
.item-healthcare__icon {
  margin-bottom: 58px;
}
.item-healthcare__title {
  font-style: 700;
  font-size: 16px;
  line-height: 138.5%;
  color: black;
  margin-bottom: 4px;
}
.item-healthcare__text {
  line-height: 138.5%;
}

.healthcare__column_1::before,
.healthcare__column_1::after {
  position: absolute;
  content: "";
  background-color: #ec5863;
  border-radius: 16px;
}

.healthcare__column_1::before {
  width: 65px;
  height: 65px;
  bottom: -35px;
  left: 15px;
  transform: rotate(-30deg);
}

.healthcare__column_1::after {
  width: 97px;
  height: 97px;
  top: 35px;
  right: -10px;
  border-radius: 30px;
  transform: rotate(30deg);
}

.healthcare__column_2::after {
  width: 127px;
  height: 127px;
  position: absolute;
  content: "";
  background-color: #ec5863;
  bottom: -35px;
  right: -35px;
  border-radius: 30px;
  transform: rotate(55deg);
}

.healthcare__column_3::after {
  width: 65px;
  height: 65px;
  position: absolute;
  content: "";
  background-color: #ec5863;
  top: -25px;
  right: 0px;
  border-radius: 16px;
  transform: rotate(30deg);
}

@media (max-width: 1087px) {
  .healthcare__column {
    padding: 0 15px;
  }
}

@media (max-width: 991.98px) {
  .healthcare {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .healthcare__items {
    flex-direction: column;
  }

  .healthcare__column:not(:last-child) {
    margin-bottom: 25px;
  }
}
